body {
  font-family: sans-serif;
  text-algin: center;
}
form{
  display: inline-block;
  text-algin: start;
}
p>label>*{
  display: block;
}
mi-footer {
  display: block;
  margin: 1rem 0;
  font-size: small;
}
